{block title}{_'mail.passwordResetLink.title'}{/block}
{block content}
    <h1>{include #title}</h1>
    <p>
        {_'mail.passwordResetLink.text'} <a href="{$link|noescape}" >{_'mail.passwordResetLink.linkText'}</a>.
    </p>
{/block}